# IDE
.idea
.vscode
__pycache__
.history
.umi

# dependencies
node_modules
static/uploads/qrcode

# lock
**/yarn.lock
**/package-lock.json
**/yarn-error.log
**/package-error.log

# production
**/build
**/dist
./download

#logs
logs

test

*cfg.js
*cfg.txt

#cache
**/profile
**/cookies.json
/libs/puppeteer_profiles/
